.container{
  display: flex;
  justify-content: space-around;
  padding: 5%;
  background-color: rgba(145, 171, 109, 0.7);
  margin: 5%;
  border-radius: 10%;
  font-size: 2.5rem;
}
.dishDetails{
  padding: 5%;
  background-color: rgba(145, 171, 109, 1);
  margin: 5%;
  border-radius: 10%;
  font-size: 2.5rem;
}
