<div class="login-page">
  <div class="form">
    <form class="register-form" action="/menu">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username" name="login" id="login"
             [(ngModel)]="model.login"
             name='login'/>
      <input type="password" placeholder="password" id="password"
             [(ngModel)]="model.password"
             name='password'/>
      <button type="submit" (click)="verifyUser(model.login, model.password)" value="Submit form">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>

