<div class="menuBar">
  <button (click)="getPizza($event)" class="btn" [routerLink]="['/menu']">
    <span>Pizza</span>
  </button>
  <button (click)="getPasta($event)" class="btn" [routerLink]="['/menu']">
    <span>Pasta</span>
  </button>
  <button (click)="getDrinks($event)" class="btn" [routerLink]="['/menu']">
    <span>Drinks</span>
  </button>
  <button (click)="getMenu($event)" class="btn" [routerLink]="['/menu']">
    <span>All</span>
  </button>
</div>
<div class="container">
  <h1>Menu: </h1>
  <table class="menuTable">
    <!--<tr class="menuHeader">-->
      <!--<td>nazwa</td>-->
      <!--<td>typ</td>-->
      <!--<td>opis</td>-->
      <!--<td>cena</td>-->
    <!--</tr>-->
    <tr class="menu" *ngFor="let dish of dishes">
      <td class="menuItem" id="name">{{dish.name}}</td>
      <td class="menuItem" id="type">{{dish.type}}</td>
      <td class="menuItem" id="desc">{{dish.description}}</td>
      <td class="menuItem" id="price">{{dish.price}}</td>
      <button class="detailsbtn" [routerLink]="['/details']">Details</button>
      <button class="addButton">+</button>
    </tr>
  </table>
</div>
