<div class="menuBar">
  <button (click)="getPizza($event)" class="btn" [routerLink]="['/menu']">
    <span>Pizza</span>
  </button>
  <button (click)="getPasta($event)" class="btn" [routerLink]="['/menu']">
    <span>Pasta</span>
  </button>
  <button (click)="getDrinks($event)" class="btn" [routerLink]="['/menu']">
    <span>Drinks</span>
  </button>
</div>
<div class="container">
<div class="menuCont">
  <h1>Menu: </h1>
  <table class="menuTable">
    <tr class="menu" *ngFor="let dish of dishes">
      <td class="menuItem" id="name" *ngIf="dish.available === true">{{dish.name}}</td>
      <td class="menuItem" id="type" *ngIf="dish.available === true">{{dish.type}}</td>
      <td class="menuItem" id="desc" *ngIf="dish.available === true">{{dish.description}}</td>
      <td class="menuItem" id="price" *ngIf="dish.available === true">{{dish.price}} zł</td>
      <button class="addButton" id="dish.id" (click)="addDishToCart(dish)" *ngIf="dish.available === true">+</button>
    </tr>
  </table>
  </div>
<app-cart></app-cart>
</div>
