.container td{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color: #000000;
}

.container tr:hover {
  background-color: antiquewhite;
}

.container {
  border-bottom: 1px solid deepskyblue;
  border-right: 1px solid deepskyblue;
  background-color: azure;
  border-radius: 5%;
  text-align: center;
  padding: 5%;
  width: 37vw;
}
.removeButton{
  border-radius: 50%;
  background-color: blueviolet;
}

.menuHeader{
  font-size: 3rem;
  font-family: 'Gamja Flower', bold, serif;
}

.menu{
  font-size: 2.5rem;
  font-family: 'M PLUS Rounded 1c', bold, serif;
  width: 80%;
}
.btn{
  background-color: pink;
  border-radius: 20%;
  border:1px solid blueviolet;
  padding: 5px;
  margin: 1%;
  text-align: center;
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 10%;
}
.btn:hover{
  background-color: lightpink;
}
.menuBar{
  display: flex;
  justify-content: center;
}
.menuTable{
  display: flex;
  justify-content: space-around;
}
.empty{
  color: #000;
  font-size: 3.5rem;
  background-color: lightgrey;
  border-radius: 20%;
  border:1px solid deepskyblue;
  padding: 30px;
  margin: 20%;
}
