

  <div class="container">
    <h1>Cart:</h1>
    <table class="orderTable">
      <tr class="menu" *ngFor="let dish of dishes">
        <td class="menuItem" id="name">{{dish.name}}</td>
        <td class="menuItem" id="type">{{dish.type}}</td>
        <td class="menuItem" id="desc">{{dish.description}}</td>
        <td class="menuItem" id="price">{{dish.price}}</td>
        <button class="detailsbtn" [routerLink]="['/details', dish.id]">Details</button>
        <button class="removeButton" (click)="removeFromCart(dish)">-</button>
      </tr>
    </table>
    <div class="sum">
      <span>Sum: </span>
      <span>{{sum}}</span>
    </div>
    <div>
      <button class="order">Order</button>
    </div>
  </div>

