form {
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c',bold, serif;
  text-align: center;
  padding: 20%;
  margin: 20%;
  border: #a94442 solid 1px;
  background-color: lightgrey;
  width: 100%;
  color: #000;
  font-size: 2rem;
}
.form-group {
  text-align: center;
  padding: 2%;
}
input {
  padding: 2%;
  background-color: honeydew;
  border-radius: 10%;
}
.confirm{
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1%;
  margin: 1%;
  background-color: #a94442;
  border-radius: 10%;
  border: 2px #a73331 solid;
}
#confirmedAddress{
  font-size: 2rem;
  background-color: #43A047;
  padding: 5%;
  border-radius: 10%;
}
