form {
  font-size: 15px;
  font-family: 'M PLUS Rounded 1c',bold, serif;
  text-align: center;
  padding: 2%;
  margin: 10%;
  border-radius: 20%;
  border: #a94442 solid 1px;
  background-color: lightgrey;

}
.form-group {
  text-align: center;
  padding: 2%;
  //margin: 1%;
}
input {
  padding: 1%;
  background-color: honeydew;
  border-radius: 10%;
}
