header{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  text-align: center;
  background-color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1%;
}
.btn{
  background-color: darkorchid;
  border-radius: 5%;
  border: 1px solid darkviolet;
}
.btn:hover{
  background-color: violet;
}
#U{
  color: coral;
  font-family: "Lucida Handwriting", sans-serif;
}
#nicorn{
  color: chartreuse;
}
