header{
  display: flex;
  justify-content: space-between;
  font-size: 3.5rem;
  text-align: center;
  background-color: #294653;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1%;
}
.btn{
  background-color: #65b2b8;
  border-radius: 5%;
  border: 1px solid black;
}
.btn:hover{
  background-color: #54a1a6;
}
#U{
  color: #f1e94d;
  font-family: "Lucida Handwriting", sans-serif;
}
#nicorn{
  color: #91ab6d;
}
