form {
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c',bold, serif;
  text-align: center;
  padding: 3%;
  margin: 5%;
  border: #a94442 solid 1px;
  background-color: lightgrey;
  width: 15%;
  color: #000;
  font-size: 2rem;
}
.form-group {
  text-align: center;
  padding: 2%;
}
input {
  padding: 2%;
  background-color: honeydew;
  border-radius: 10%;
}
